/* rerunEvaluationButton.css */

[role="dialog"] {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid #aaa;
  border-radius: 5px;
  color: black;
  width: 90%;
  left: 5%;
  z-index: 15;
}

[role="dialog"].info {
  top: 110px;
}

[role="dialog"].rerun,
[role="dialog"].export {
  bottom: 30px;
}

[role="dialog"] .header {
  margin-bottom: 0.5em;
  padding: 4px;
  padding-left: 1em;
  border-bottom: 1px solid #aaa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight:  bold;
  background-color: #eee;
  position: relative;
  font-size: 1.1em;
}

[role="dialog"] .header button {
  position: absolute;
  top: -0.25em;
  right: 0;
  border: none;
  background: transparent;
  font-weight: bold;
  color: black;
}

[role="dialog"] .content {
  margin: 1em;
}

[role="dialog"] .select {
  width: 15em;
}

[role="dialog"] label
[role="dialog"] .desc {
  padding: 4px;
  font-size: 90%;
}

[role="dialog"] .desc {
  margin:  0;
  padding: 0;
  margin-bottom: 1em;
  font-style: italic;
}

[role="dialog"] fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  border: none;
}

[role="dialog"] legend {
  font-weight:  bold;
}

[role="dialog"] div.select,
[role="dialog"] label.checkbox,
[role="dialog"] label.radio {
  display:  block;
  padding: 4px;
}

[role="dialog"] button {
  margin: 6px;
}

[role="dialog"] input[type="text"] {
  margin: 4px;
  margin-left: 0.75em;
}

[role="dialog"] label.text {
  margin-left: 0.75em;
}

[role="dialog"] .no-fieldset {
  margin-left: 0;
  margin-bottom: 1em;
}

[role="dialog"] .buttons {
  float: right;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

[role="dialog"] .buttons button {
  width: 5em;
}

[role="dialog"] select,
[role="dialog"] input[type="checkbox"],
[role="dialog"] input[type="radio"] {
  outline: none;
}

[role="dialog"] div.select.focus,
[role="dialog"] label.checkbox.focus,
[role="dialog"] label.radio.focus {
  padding: 2px;
  border: 2px solid currentColor;
  background-color:  #eee;
  border-radius: 5px;
}

[role="dialog"] div.select:hover,
[role="dialog"] label.checkbox:hover,
[role="dialog"] label.radio:hover {
  padding: 3px;
  border: 1px solid #888;
  background-color:  #eee;
}

[role="dialog"] input[type="text"]:focus,
[role="dialog"] button:focus,
[role="dialog"] input[type="text"]:hover,
[role="dialog"] button:hover {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

button#rerun-button,
button#export-button {
  text-align:  center;
  white-space: nowrap;
  padding: 1px 4px 2px;
}

button:focus,
button#export-button:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

button:hover {
  cursor: pointer;
}

[role="dialog"] .note {
  margin:  0;
  padding: 0;
  margin-left:  0.75em;
  margin-bottom: 1em;
  font-style: italic;
}

[role="dialog"] .note code {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-style: normal !important;
  font-weight:  bold;
}

[role="dialog"] .feedback {
  color: black;
  border: 2px solid red;
  background:  white;
  padding: 2px;
  border-radius:  5px;
}

[role="dialog"] .feedback img {
  height: 12px !important;
}

[role="dialog"] .feedback.prefix {
  margin-left:  0.75em;
  display:  none;
}

[role="dialog"] .feedback.prefix.show {
  display:  block;
}


