/* resultTablist.css */

[role="tablist"] {
  margin:  0;
  margin-top: 1em;
  padding:  0;
  white-space: nowrap;
  overflow: hidden;
}

[role="tablist"] [role="tab"] {
  margin: 0;
  padding: 0.25em;
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 0;
  background-color: #eee;
}

[role="tablist"] [role="tab"] span {
  display: inline-block;
  margin: 2px;
  padding: 4px;
}

[role="tablist"] [role="tab"][aria-selected="true"] {
  border-bottom: 1px solid white;
  background-color: white;
}

[role="tabpanel"] {
  display:  none;
  box-shadow: 0px -1px #aaa;
}

[role="tabpanel"].show {
  display:  block;
}

[role="tablist"] [role="tab"]:focus span,
[role="tablist"] [role="tab"]:hover span {
  padding: 2px;
  border: 2px solid currentColor;
}
