/* summaryInfo.css */

[role=dialog].info {
  width: 80%;
  left: 10%;
}

button#summary-info-button {
  margin: 0;
  margin-left: 1em;
  margin-top: 1em;
  padding: 2px;
  border: 0px;
  background: transparent;
  display: inline-block;
}

[role=dialog] #more-button,
[role=dialog] #close-button-2 {
  padding: 1px 4px 2px;
  white-space: nowrap;
  width: auto;
}

[role=dialog] h2 {
   margin: 0;
   padding: 0;
   margin-top: 1em;
   margin-bottom: 0.5em;
   font-size: 1em;
}

[role=dialog] table.info {
  margin: 0;
  margin-top: 0.25em;
  margin-bottom: 2em;
  width: 80%;
  border-collapse: collapse;
  font-size: 1em;
}

[role=dialog] table.info th.symbol {
  padding: 0.25em;
  width: 5em;
  text-align: center;
  vertical-align: top;
  font-weight: normal;
}

[role=dialog] table.info th.symbol span {
  display: inline-block;
  width: 3em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-weight: bold;
}

[role=dialog] #numerical-desc  {
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
}

[role=dialog] table .violation span {
  background-color: hsl(0, 100%, 84%);
}

[role=dialog] table .warning span {
  background-color: hsl(49, 100%, 79%);
}

[role=dialog] table .manual-check span {
  background-color: hsl(198, 52%, 81%);
}

[role=dialog] table .passed span {
  background-color: hsl(90, 67%, 69%);
}

[role=dialog] table .hidden span {
  background-color: hsl(0, 0%, 87%);
}


