/* copyButton.css */

button  {
  background:  none;
  border: none;
  text-align: center;
}

button img {
  padding: 1px;
  height: 18px;
}

button img.copied {
  display:  none;
}

button.copied img.copy {
  display:  none;
}

button.copied img.copied {
  display:  inline-block;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 2px solid currentColor;
}

