/* highlightSelect.css */

.highlight-select {
  display:  block;
  position: relative;
  left:  -0.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.25em;
  width:  100%;
  text-align:  right;
}

button:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

