body {
  height: 95%;
  font: caption;
  margin: 0;
  padding: 0.25em;
  background-color: white;
  overflow-y: scroll;
}


header {
  margin: 0;
  padding: 0;
  position: relative;
}

header h1 {
  margin:  0;
  padding: 0;
  font-size: 175%;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}

header .right {
  position: absolute;
  right: 0;
  top: 0.25em;
}

main .view {
  display:  none;
}

main .view.show {
  display:  block;
}

main .selected-rule {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  font-size: 110%;
  font-weight: bold;
}

footer {
  margin: 0;
  padding: 0.25em;
  padding-bottom: 1em;
  position: absolute;
}

footer .info {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-columns: 80px 1fr;
  grid-template-rows: auto;
  font-size: 125%;
}

footer .info .label {
  grid-column: 1;
  text-align: right;
  padding-right:  0.25em;
  font-weight:  bold;
}

footer .info .label:after {
  content: ':';
}

footer .info .value {
  display:  inline-block;
  padding-right: 1em;
  grid-column: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer .footer-buttons {
  padding-top: 10px;
  display:  grid;
  grid-template-columns: 120px 1fr 50px 1fr 125px;
}

footer button {
  text-align: center;
  width: 120px;
}

footer button#copy-button,
footer button#export-button {
  width: 50px;
}





