/* viewsMenuButton.css */

div {
  --menu-bg-color: #eee;
  --menu-bg-highlight: #ddd;
  --menu-text-color: black;
  --menu-border-color: black;
}

.views-menu-button {
  margin: 0;
  padding: 0;
  display:  inline-block;
}

.views-menu-button [role="menu"] {
  display: none;
  position: absolute;
  margin: 0;
  padding: 6px 4px;
  border: 2px solid var(--menu-border-color);
  border-radius: 4px;
  background-color: var(--menu-bg-color);
  right: 0;
  height: 400px;
  overflow-y: scroll;
}

.views-menu-button [role="menuitem"],
.views-menu-button [role="group"] div.label {
  margin: 0;
  margin-right:  1em;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border: 0 solid var(--menu-border-color);
  border-radius: 4px;
  display: block;
  width: 12em;
  background-color: var(--menu-bg-color);
  color: var(--menu-text-color);
  outline:  none;
}

.views-menu-button [role="group"] div.label {
  border-bottom: 1px solid var(--menu-border-color);
  font-weight: bold;
  border-radius: 0;
}

.views-menu-button [role="group"] > [role="menuitem"] {
  margin-left: 4px;
}

.views-menu-button button svg.down {
  padding-left: 0.125em;
  fill: currentColor;
  stroke: currentColor;
}

.views-menu-button button[aria-expanded="true"] svg.down {
  transform: rotate(180deg);
}

/* focus styling */

.views-menu-button [role="menuitem"]:focus {
  padding-top: 0;
  padding-bottom: 0;
  padding-left:  2px;
  padding-right:  2px;
  border-width: 2px;
  background: var(--menu-bg-highlight);
}

.views-menu-button [role="menuitem"]:hover {
  cursor: pointer;
}

.views-menu-button button:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.views-menu-button button:hover {
  cursor: pointer;
}



